In [1]:
import pandas as pd

In [13]:
dados = {
    'Origem': ['Centro', 'Centro', 'Zona Norte', 'Zona Sul', 'Centro', 'Zona Oeste'],
    'Destino':['Zona Sul', 'Zona Norte', 'Centro', 'Centro', 'Zona Oeste', 'Centro'],
    'Quantidade_Corridas': [120, 95, 150, 80, 110, 60]
}

df = pd.DataFrame(dados)
display(df)

rotas_alta_demanda = []

for index, row in df.iterrows():
    if row['Quantidade_Corridas'] > 100:
        rotas_alta_demanda.append((row['Origem'], row ['Destino']))

print(" ")
print(rotas_alta_demanda)

       Origem     Destino  Quantidade_Corridas
0      Centro    Zona Sul                  120
1      Centro  Zona Norte                   95
2  Zona Norte      Centro                  150
3    Zona Sul      Centro                   80
4      Centro  Zona Oeste                  110
5  Zona Oeste      Centro                   60

[('Centro', 'Zona Sul'), ('Zona Norte', 'Centro'), ('Centro', 'Zona Oeste')]

In [21]:
dados = {
    'Produto': ['Camiseta', 'Calça', 'Tênis', 'Boné', 'Jaqueta'],
    'Quantidade_Vendida':[50, 20, 10, 15, 5],
    'Preco': [30, 150, 200, 40, 500]
}

df = pd.DataFrame(dados)
display(df)

produtos_alta_receita = []

for index, row in df.iterrows():
    receita = row['Quantidade_Vendida'] * row['Preco']
    print(receita)
    if receita > 1000:
        produtos_alta_receita.append(row['Produto'])

print(produtos_alta_receita)

    Produto  Quantidade_Vendida  Preco
0  Camiseta                  50     30
1     Calça                  20    150
2     Tênis                  10    200
3      Boné                  15     40
4   Jaqueta                   5    500

1500
3000
2000
600
2500
['Camiseta', 'Calça', 'Tênis', 'Jaqueta']